In [1]:
from jqdatasdk import *
auth('18682020262','WzlZxy420107')

auth success

In [6]:
import pandas as pd
import numpy as np
import datetime

def set_pandas_display_options() -> None:
    # Ref: https://stackoverflow.com/a/52432757/
    display = pd.options.display

    display.max_columns = 1000
    display.max_rows = 1000
    display.max_colwidth = 199
    display.width = None
    # display.precision = 2  # set as needed

set_pandas_display_options()
    
def get_profit(code, statDate):
    q = query(
            indicator.net_profit_margin,
            indicator.gross_profit_margin,
        ).filter(
            indicator.code == code)
    profit = get_fundamentals(q, statDate=statDate)
    try:
        print(profit.net_profit_margin[0], profit.gross_profit_margin[0])
        return profit.net_profit_margin[0], profit.gross_profit_margin[0]
    except:
        print(0,0)
        return 0,0

def main(code, year, offset):
    com_name = finance.run_query(query(finance.STK_LIST.name, ).filter(
        finance.STK_LIST.code.in_([code]), )).name[0]
    net_list = [[] for i in range(offset)]
    gross_list = [[] for i in range(offset)]
    years = [year - i for i in range(offset)]
    date = ['q1', 'q2', 'q3', 'q4']
    for y in range(offset):
        for q in range(4):
            net, gross = get_profit(code, str(year - y) + date[q])
            net_list[y].append(net)
            gross_list[y].append(gross)
    data_list = net_list + gross_list
    print(data_list)
    df = pd.DataFrame(
        data_list,
        columns=pd.MultiIndex.from_product([[com_name],
                                            ['Q1', 'Q2', 'Q3', 'Q4']]),
        index=pd.MultiIndex.from_product([['净利率', '毛利率'],
                                          years]))
#     with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(df)

if __name__ == '__main__':
    # get_profit('000002.XSHE', '2019q1')
    # get_profit('000002.XSHE', '2019q2')
    # get_profit('000002.XSHE', '2019q3')
    # get_profit('000002.XSHE', '2019q4')
    # get_profit('000002.XSHE', '2020q1')
    # get_profit('000002.XSHE', '2020q2')
    # get_profit('000002.XSHE', '2020q3')
    # get_profit('000002.XSHE', '2020q4')
    code = '600519.XSHG'
    year = 2020
    offset = 5
    main(code, year, offset)

56.8 91.67
51.49 91.2
51.26 91.06
0 0
55.05 92.11
52.01 91.57
52.3 90.79
47.18 90.84
52.2756 91.3055
48.9 90.54
51.21 91.45
52.62 91.19
49.1773 91.1561
50.5414 87.7384
51.023 90.3496
48.4858 89.4276
52.18 92.34
50.89 91.32
46.73 91.13
37.62 90.31
[[56.8, 51.49, 51.26, 0], [55.05, 52.01, 52.3, 47.18], [52.2756, 48.9, 51.21, 52.62], [49.1773, 50.5414, 51.023, 48.4858], [52.18, 50.89, 46.73, 37.62], [91.67, 91.2, 91.06, 0], [92.11, 91.57, 90.79, 90.84], [91.3055, 90.54, 91.45, 91.19], [91.1561, 87.7384, 90.3496, 89.4276], [92.34, 91.32, 91.13, 90.31]]

             贵州茅台
               Q1       Q2       Q3       Q4
净利率 2020  56.8000  51.4900  51.2600   0.0000
    2019  55.0500  52.0100  52.3000  47.1800
    2018  52.2756  48.9000  51.2100  52.6200
    2017  49.1773  50.5414  51.0230  48.4858
    2016  52.1800  50.8900  46.7300  37.6200
毛利率 2020  91.6700  91.2000  91.0600   0.0000
    2019  92.1100  91.5700  90.7900  90.8400
    2018  91.3055  90.5400  91.4500  91.1900
    2017  91.1561  87.7384  90.3496  89.4276
    2016  92.3400  91.3200  91.1300  90.3100